:root {
  --branding-color: #6742adec;
  --secondary-color: #e8e3eb;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
}
h2 {
  font-family: var(--heading-font-family);
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}
P {
  font-family: var(--default-font-family);
  font-weight: normal;
}
.header-P {
  font-weight: bold;
  color: #272142;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.contact-btn {
  background: var(--branding-color);
  border-radius: 5px;
  color: white;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: -30px;
  float: right;
  box-shadow: 8px 5px 5px #b3a4d0ec;
}

:hover.contact-btn {
  background-color: var(--branding-color);
  color: black;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 5px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  box-shadow: 8px 5px 5px #b3a4d0ec;
}
:hover.btn-branding-outline .contact-btn {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
}
P {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
@media (min-width: 200px) and (max-width: 900px) {
  .description {
    padding: 0;
    text-align: center;
  }
  .nameplate {
    padding: 50px;
  }
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .content-section {
    text-align: center;
    padding: 0;
  }
  .contact-btn {
    font-size: 16px;
  }
}
.projects-btn {
  background-color: var(--branding-color);
  color: white;
  padding: 20px 30px;
  line-height: 27px;
  font-size: 18px;
  border-radius: 4px;
  box-shadow: 8px 5px 5px #b3a4d0ec;
}
:hover .projects-btn {
  background: var(--branding-color);
  color: black;
}
.content-section h1 {
  font-size: 63px;
  line-height: 80px;
}
.content-section h2 {
  font-size: 18px;
  font-weight: bold;
}
.content-section {
  margin: 30px;
}
.about-img {
  border-radius: 20px;
}
.content-section h3 {
  font-size: 30px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
}

.logo {
  max-width: 100px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 80px;
  margin-left: 15px;
}
nav {
  padding: 20px;
}
nav a {
  text-decoration: none;
  color: #272142;
  font-weight: 500;
  font-family: var(--heading-font-family);
}
.nameplate {
  padding: 50px 50px 100px 50px;
  max-width: 1000px;
  margin: 0 auto;
}
.heading {
  background-color: white;
  padding: 30px;
  margin-left: 50px;
  margin-bottom: -30px;
  text-align: center;
  display: inline-block;
  font-family: var(--heading-font-family);
  box-shadow: 8px 5px 5px #b3a4d0ec;
}
.name {
  border: 1px solid black;
  padding: 80px 50px;
}
.footer-btn {
  background: var(--branding-color);
  border-radius: 5px;
  color: white;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 30px;
  box-shadow: 8px 5px 5px #b3a4d0ec;
}
:hover.footer-btn {
  background: var(--branding-color);
  color: black;
}
footer {
  margin: 20px;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
}
footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 4px;
}
.footer-mail-link {
  text-decoration: none;
  font-size: 24px;
  color: #272142;
}
nav li.active a {
  color: var(--branding-color);
}
